.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #222;
  color: rgba(255,255,255, 0.9);
}

.App-intro {
  width: 320px;
  font-size: 10px;
  color: rgba(255,255,255, 0.9);
  margin: auto;
  margin-bottom: 15px;
}
