html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background-color: #45558D;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 4em;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 300px;
  height: 300px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.play-again {
  position: absolute;
  width: 300px;
  height: 300px;
  padding-top: 10px;
  top: 100%;
  color: rgba(255,255,255, 0.9);
  background-color: #454A57;
  transition: all 1s;
  z-index: 5;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,.9);
}

.active {
  top: 0;
}

.reset-button {
  border: 3px solid #FFF;
  border-radius: 10px;
  padding: 5px 8px;
  margin-top: 50.2px;
  background-color: transparent;
  font-size: 24px;
  color: rgba(255,255,255, 0.9);
  animation: pulse 2s infinite;
}

.fa {
  color: #09e510;
}

.reset-button:hover {
  border-color: #09e510;
}

#sp4, #sp5, #sp6 {
  border-bottom: 3px solid #09e510;
  border-top: 3px solid #09e510;
}

#sp2, #sp5, #sp8 {
  border-left: 3px solid #09e510;
  border-right: 3px solid #09e510;
}

.tilt-left {
  transform: rotate(-15deg);
}

.tilt-right {
  transform: rotate(15deg);
}

.tilt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 36px;
  width: 320px;
  margin: auto;
  font-family: 'Roboto Slab', cursive;
  font-weight: 700;
}

.tilt-header p {
  margin-top: .25em;
  margin-bottom: .5em;
}

.tilt-header .fa {
  color: rgba(255,255,255, 0.9);
  font-size: 12px;
}

.github {
  padding-top: 25px;
  font-size: 24px;
}

.github a,
.github .fa {
  color: rgba(255,255,255, 0.9);
  text-decoration: none;
}

.github a:hover,
.github .fa:hover {
  color: #09e510;
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 1px 1px 2px 4px #09e510, -1px -1px 2px 4px #09e510;
    border-color: #09e510;
  }
}
